<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Dimensionality Reduction - Prostate Accuracy</title>
    <link rel="icon" type="image/png" sizes="36x36" href="{% static "images/title_bar_logo.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
      body {
        overflow-x : hidden;
        background-color: snow;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      .heading {
        border-top:1px solid #232323;
        border-bottom:1px solid #232323;
        height: 45px;
        width:1268px;
        position:relative;
        left:130px;
        background-color: #ecebf6;
      }
      #span_css {
        position: absolute;
        padding-top:10px;
        font-weight:bold;
      }
      .chip {
        position: absolute;
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: lightgrey;
        top:70px;
      }

      .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
  .my-custom-scrollbar
  {
    position: relative;
    height: 247px;
    overflow: auto;
  }
  .table-wrapper-scroll-y
  {
    display: block;
  }

  thead{
    background-color: #ecebf6;
  }

  .content6 {
    position: absolute;
    bottom: 0;
    background:  rgb(1, 1, 1);
    background: rgba(69,182,254,0.5);
    left:35px;
    width:5.5%;
    height: 100%;
    position: fixed;
  }
  .content7 {
    position: absolute;
    top:60px;
    background:  rgb(1, 1, 1);
    background: rgba(55,146,203,0.7);
    left:0;
    width:13.5%;
    height: 10%;
  }

    </style>
  </head>
  <body>
    <br>
    <div class="content6">
    </div>
    <div class="container">
    <div class="jumbotron">
    <div class="container">
      <div class="chip">
        <img src="{% static "images/logo1.jpg" %}" alt="Person" width="96" height="96">
        <strong style="font-size:12px;font-family:'Acme'">Choose Hope</strong></div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id= "span_css" style="font-family:Acme;font-size:25px;position:absolute;top:70px;">DIMENSIONALLY REDUCED ACCURACIES</span>
    </div>
  </div>
  </div>
  <div class="content7">
  </div>
  <div class="content7" style="left:1314px;width:15%;">
    <div style="padding-left:70px;padding-top:23px;">
      <button type="button" name="button" class="btn btn-sm" style="background-color:whitesmoke;color:black;" onclick="window.location='http://127.0.0.1:8000/cancer_app/breastAccuracy/'"><i style='font-size:20px' class='fas'>&#xf30a;</i>&nbsp&nbspBACK</button>
    </div>
  </div>
      <br><br>
      <div class="container" align="center">
        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      </div>
      <br><br>
        <div class="heading">
          <span style="left:480px;" id= "span_css">SUPPORT VECTOR MACHINE ALGORITHM<span>
        </div>
        <br><br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
            <h6 style="padding-top:22px;text-align:center;color:black;"><b>Without Fold</b></h6>
            <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_0_svm}} %</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
            <h6 style="padding-top:22px;text-align:center;color:black;"><b>5 Folds</b></h6>
            <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_5_svm}} %</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
            <h6 style="padding-top:22px;text-align:center;color:black;"><b>10 Folds</b></h6>
            <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_10_svm}} %</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
            <h6 style="padding-top:22px;text-align:center;color:black;"><b>15 Folds</b></h6>
            <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_15_svm}} %</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
            <h6 style="padding-top:22px;text-align:center;color:black;"><b>20 Folds</b></h6>
            <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_20_svm}} %</p>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <br><br>
      <div class="container">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered" style="text-align:center;background-color:white;">
          {% if svmPD_list %}
            <thead>
              <tr>
                <th>0 Fold</th>
                <th>5 Folds</th>
                <th>10 Folds</th>
                <th>15 Folds</th>
                <th>20 Folds</th>
              </tr>
            </thead>
            <tbody>
              {% for var in svmPD_list %}
                  <tr>
                    <td>{{var.svmPD_fold_0}} %</td>
                    <td>{{var.svmPD_fold_5}} %</td>
                    <td>{{var.svmPD_fold_10}} %</td>
                    <td>{{var.svmPD_fold_15}} %</td>
                    <td>{{var.svmPD_fold_20}} %</td>
                  </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <p>NO RECORDS FOUND</p>
          {% endif %}
          </table>
        </div>
      </div>
      <br><br>
      <div class="container">
        <div class="card" style="background:whitesmoke;height:290px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>Average Accuracies</b></h6><br>
          <div class="row" align="center">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
              <label for="" style="font-weight:bold">0 Fold <br> -----------</label>
              <p>&nbsp&nbsp{{avg_svmPD_0}} %</p>
            </div>
            <div class="col-md-2">
              <label for="" style="font-weight:bold">5 Folds <br> -----------</label>
              <p>&nbsp&nbsp{{avg_svmPD_0}} %</p>
            </div>
            <div class="col-md-2">
              <label for="" style="font-weight:bold">10 Folds <br> -----------</label>
              <p>&nbsp&nbsp{{avg_svmPD_0}} %</p>
            </div>
            <div class="col-md-2">
              <label for="" style="font-weight:bold">15 Folds <br> -----------</label>
              <p>&nbsp&nbsp{{avg_svmPD_0}} %</p>
            </div>
            <div class="col-md-2">
              <label for="" style="font-weight:bold">20 Folds <br> -----------</label>
              <p>&nbsp&nbsp{{avg_svmPD_0}} %</p>
            </div>
          </div>
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>Final Average Accuracy</b></h6><br>
          <p style="text-align:center">&nbsp&nbsp{{svm_final_avg_PD}} %</p>
        </div>
      </div>
      <br><br>

      <div class="heading">
        <span style="left:530px;" id= "span_css">DECISION TREE ALGORITHM<span>
      </div>
      <br><br>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>Without Fold</b></h6>
          <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_0_dt}} %</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>5 Folds</b></h6>
          <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_5_dt}} %</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>10 Folds</b></h6>
          <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_10_dt}} %</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>15 Folds</b></h6>
          <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_15_dt}} %<Pp>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
          <h6 style="padding-top:22px;text-align:center;color:black;"><b>20 Folds</b></h6>
          <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_20_dt}} %</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered" style="text-align:center;background-color:white;">
        {% if dtPD_list %}
          <thead>
            <tr>
              <th>0 Fold</th>
              <th>5 Folds</th>
              <th>10 Folds</th>
              <th>15 Folds</th>
              <th>20 Folds</th>
            </tr>
          </thead>
          <tbody>
            {% for var in dtPD_list %}
                <tr>
                  <td>{{var.dtPD_fold_0}} %</td>
                  <td>{{var.dtPD_fold_5}} %</td>
                  <td>{{var.dtPD_fold_10}} %</td>
                  <td>{{var.dtPD_fold_15}} %</td>
                  <td>{{var.dtPD_fold_20}} %</td>
                </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <p>NO RECORDS FOUND</p>
        {% endif %}
        </table>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="card" style="background:whitesmoke;height:290px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>Average Accuracies</b></h6><br>
        <div class="row" align="center">
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
            <label for="" style="font-weight:bold">0 Fold <br> -----------</label>
            <p>&nbsp&nbsp{{avg_dtPD_0}} %</p>
          </div>
          <div class="col-md-2">
            <label for="" style="font-weight:bold">5 Folds <br> -----------</label>
            <p>&nbsp&nbsp{{avg_dtPD_0}} %</p>
          </div>
          <div class="col-md-2">
            <label for="" style="font-weight:bold">10 Folds <br> -----------</label>
            <p>&nbsp&nbsp{{avg_dtPD_0}} %</p>
          </div>
          <div class="col-md-2">
            <label for="" style="font-weight:bold">15 Folds <br> -----------</label>
            <p>&nbsp&nbsp{{avg_dtPD_0}} %</p>
          </div>
          <div class="col-md-2">
            <label for="" style="font-weight:bold">20 Folds <br> -----------</label>
            <p>&nbsp&nbsp{{avg_dtPD_0}} %</p>
          </div>
        </div>
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>Final Average Accuracy</b></h6><br>
        <p style="text-align:center">&nbsp&nbsp{{dt_final_avg_PD}} %</p>
      </div>
    </div>
    <br><br>


    <div class="heading">
      <span style="left:510px;" id= "span_css">LOGISTIC REGRESSION ALGORITHM<span>
    </div>
    <br><br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>Without Fold</b></h6>
        <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_0_lr}} %</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>5 Folds</b></h6>
        <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_5_lr}} %</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>10 Folds</b></h6>
        <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_10_lr}} %</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>15 Folds</b></h6>
        <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_15_lr}} %</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
        <h6 style="padding-top:22px;text-align:center;color:black;"><b>20 Folds</b></h6>
        <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_20_lr}} %</p>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered" style="text-align:center;background-color:white;">
      {% if lrPD_list %}
        <thead>
          <tr>
            <th>0 Fold</th>
            <th>5 Folds</th>
            <th>10 Folds</th>
            <th>15 Folds</th>
            <th>20 Folds</th>
          </tr>
        </thead>
        <tbody>
          {% for var in lrPD_list %}
              <tr>
                <td>{{var.lrPD_fold_0}} %</td>
                <td>{{var.lrPD_fold_5}} %</td>
                <td>{{var.lrPD_fold_10}} %</td>
                <td>{{var.lrPD_fold_15}} %</td>
                <td>{{var.lrPD_fold_20}} %</td>
              </tr>
          {% endfor %}
        </tbody>
      {% else %}
        <p>NO RECORDS FOUND</p>
      {% endif %}
      </table>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="card" style="background:whitesmoke;height:290px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>Average Accuracies</b></h6><br>
      <div class="row" align="center">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <label for="" style="font-weight:bold">0 Fold <br> -----------</label>
          <p>&nbsp&nbsp{{avg_lrPD_0}} %</p>
        </div>
        <div class="col-md-2">
          <label for="" style="font-weight:bold">5 Folds <br> -----------</label>
          <p>&nbsp&nbsp{{avg_lrPD_0}} %</p>
        </div>
        <div class="col-md-2">
          <label for="" style="font-weight:bold">10 Folds <br> -----------</label>
          <p>&nbsp&nbsp{{avg_lrPD_0}} %</p>
        </div>
        <div class="col-md-2">
          <label for="" style="font-weight:bold">15 Folds <br> -----------</label>
          <p>&nbsp&nbsp{{avg_lrPD_0}} %</p>
        </div>
        <div class="col-md-2">
          <label for="" style="font-weight:bold">20 Folds <br> -----------</label>
          <p>&nbsp&nbsp{{avg_lrPD_0}} %</p>
        </div>
      </div>
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>Final Average Accuracy</b></h6><br>
      <p style="text-align:center">&nbsp&nbsp{{lr_final_avg_PD}} %</p>
    </div>
  </div>
  <br><br>




  <div class="heading">
    <span style="left:530px;" id= "span_css">RANDOM FOREST ALGORITHM<span>
  </div>
  <br><br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>Without Fold</b></h6>
      <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_0_rf}} %</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>5 Folds</b></h6>
      <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_5_rf}} %</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>10 Folds</b></h6>
      <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_10_rf}} %</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>15 Folds</b></h6>
      <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_15_rf}} %</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
      <h6 style="padding-top:22px;text-align:center;color:black;"><b>20 Folds</b></h6>
      <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_20_rf}} %</p>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
<br><br>
<div class="container">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered" style="text-align:center;background-color:white;">
    {% if rfPD_list %}
      <thead>
        <tr>
          <th>0 Fold</th>
          <th>5 Folds</th>
          <th>10 Folds</th>
          <th>15 Folds</th>
          <th>20 Folds</th>
        </tr>
      </thead>
      <tbody>
        {% for var in rfPD_list %}
            <tr>
              <td>{{var.rfPD_fold_0}} %</td>
              <td>{{var.rfPD_fold_5}} %</td>
              <td>{{var.rfPD_fold_10}} %</td>
              <td>{{var.rfPD_fold_15}} %</td>
              <td>{{var.rfPD_fold_20}} %</td>
            </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <p>NO RECORDS FOUND</p>
    {% endif %}
    </table>
  </div>
</div>
<br><br>
<div class="container">
  <div class="card" style="background:whitesmoke;height:290px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>Average Accuracies</b></h6><br>
    <div class="row" align="center">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <label for="" style="font-weight:bold">0 Fold <br> -----------</label>
        <p>&nbsp&nbsp{{avg_rfPD_0}} %</p>
      </div>
      <div class="col-md-2">
        <label for="" style="font-weight:bold">5 Folds <br> -----------</label>
        <p>&nbsp&nbsp{{avg_rfPD_0}} %</p>
      </div>
      <div class="col-md-2">
        <label for="" style="font-weight:bold">10 Folds <br> -----------</label>
        <p>&nbsp&nbsp{{avg_rfPD_0}} %</p>
      </div>
      <div class="col-md-2">
        <label for="" style="font-weight:bold">15 Folds <br> -----------</label>
        <p>&nbsp&nbsp{{avg_rfPD_0}} %</p>
      </div>
      <div class="col-md-2">
        <label for="" style="font-weight:bold">20 Folds <br> -----------</label>
        <p>&nbsp&nbsp{{avg_rfPD_0}} %</p>
      </div>
    </div>
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>Final Average Accuracy</b></h6><br>
    <p style="text-align:center">&nbsp&nbsp{{rf_final_avg_PD}} %</p>
  </div>
</div>
<br><br>


<div class="heading">
  <span style="left:550px;" id= "span_css">NAIVE BAYES ALGORITHM<span>
</div>
<br><br>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-2">
  <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>Without Fold</b></h6>
    <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_0_nb}} %</p>
  </div>
</div>
<div class="col-md-2">
  <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>5 Folds</b></h6>
    <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_5_nb}} %</p>
  </div>
</div>
<div class="col-md-2">
  <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>10 Folds</b></h6>
    <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_10_nb}} %</p>
  </div>
</div>
<div class="col-md-2">
  <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>15 Folds</b></h6>
    <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_15_nb}} %</p>
  </div>
</div>
<div class="col-md-2">
  <div class="card" style="background:whitesmoke;height:100px;width:235px;border:1px solid lavender">
    <h6 style="padding-top:22px;text-align:center;color:black;"><b>20 Folds</b></h6>
    <p style="text-align:center;padding-top: 5px;color:black;">{{my_dict.pd_20_nb}} %</p>
  </div>
</div>
<div class="col-md-1">
</div>
</div>
<br><br>
<div class="container">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered" style="text-align:center;background-color:white;">
  {% if nbPD_list %}
    <thead>
      <tr>
        <th>0 Fold</th>
        <th>5 Folds</th>
        <th>10 Folds</th>
        <th>15 Folds</th>
        <th>20 Folds</th>
      </tr>
    </thead>
    <tbody>
      {% for var in nbPD_list %}
          <tr>
            <td>{{var.nbPD_fold_0}} %</td>
            <td>{{var.nbPD_fold_5}} %</td>
            <td>{{var.nbPD_fold_10}} %</td>
            <td>{{var.nbPD_fold_15}} %</td>
            <td>{{var.nbPD_fold_20}} %</td>
          </tr>
      {% endfor %}
    </tbody>
  {% else %}
    <p>NO RECORDS FOUND</p>
  {% endif %}
  </table>
</div>
</div>
<br><br>
<div class="container">
<div class="card" style="background:whitesmoke;height:290px;border:1px solid lavender">
  <h6 style="padding-top:22px;text-align:center;color:black;"><b>Average Accuracies</b></h6><br>
  <div class="row" align="center">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <label for="" style="font-weight:bold">0 Fold <br> -----------</label>
      <p>&nbsp&nbsp{{avg_nbPD_0}} %</p>
    </div>
    <div class="col-md-2">
      <label for="" style="font-weight:bold">5 Folds <br> -----------</label>
      <p>&nbsp&nbsp{{avg_nbPD_0}} %</p>
    </div>
    <div class="col-md-2">
      <label for="" style="font-weight:bold">10 Folds <br> -----------</label>
      <p>&nbsp&nbsp{{avg_nbPD_0}} %</p>
    </div>
    <div class="col-md-2">
      <label for="" style="font-weight:bold">15 Folds <br> -----------</label>
      <p>&nbsp&nbsp{{avg_nbPD_0}} %</p>
    </div>
    <div class="col-md-2">
      <label for="" style="font-weight:bold">20 Folds <br> -----------</label>
      <p>&nbsp&nbsp{{avg_nbPD_0}} %</p>
    </div>
  </div>
  <h6 style="padding-top:22px;text-align:center;color:black;"><b>Final Average Accuracy</b></h6><br>
  <p style="text-align:center">&nbsp&nbsp{{nb_final_avg_PD}} %</p>
</div>
</div>
<br><br>
<div class="container" align="center">
  <p><b style="font-size:20px;">Prostate Cancer - Final Average Accuracies</b></p><br>
  <div id="chartContainer" style="height: 370px; width: 50%;"></div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
</div>
<br><br>
  </body>
  <script type="text/javascript">
  window.onload = function () {
    CanvasJS.addColorSet("greyShades",
               [
               "#D3D3D3",
               "#C0C0C0",
               "#A9A9A9",
               "#808080",
               "#696969"
               ]);
  var chart = new CanvasJS.Chart("chartContainer", {
  	animationEnabled: true,
    exportEnabled: true,
    dataPointWidth: 25,
    axisY: {
    minimum: 40,
    title: "Accuracy %",
    },
    colorSet: "greyShades",
  	data: [
  	{
  		type: "column",
  		dataPoints: [
  			{ label: "Support Vector",  y: {{svm_final_avg_PD}} },
  			{ label: "Decision Tree", y: {{dt_final_avg_PD}}  },
        { label: "Logistic Regression", y: {{lr_final_avg_PD}}  },
  			{ label: "Random Forest",  y: {{rf_final_avg_PD}}  },
  			{ label: "Naive Bayes",  y: {{nb_final_avg_PD}}  }
  		]
  	}
  	]
  });
  chart.render();
  var chart1 = new CanvasJS.Chart("chartContainer1", {
    animationEnabled: true,
    dataPointWidth: 25,
    exportEnabled: true,
    axisY: {
      title: "Accuracy %",
      minimum:40,
    },
    legend: {
      cursor:"pointer",
      itemclick : toggleDataSeries,
    },
    toolTip: {
      shared: true,
      content: toolTipFormatter,
      fontSize: 10,
    },
    data: [{
      type: "column",
      showInLegend: true,
      name: "0-Fold",
      color: "#45b6fe",
      dataPoints: [
        { y: {{avg_svmPD_0}}, label: "Support Vector Machine" },
        { y: {{avg_dtPD_0}}, label: "Decision Tree" },
        { y: {{avg_lrPD_0}}, label: "Logistic Regression" },
        { y: {{avg_rfPD_0}}, label: "Random Forest" },
        { y: {{avg_nbPD_0}}, lebel: "Naive Bayes" },
      ]
    },
    {
      type: "column",
      showInLegend: true,
      name: "5-Folds",
      color: "#3792cb",
      dataPoints: [
        { y: {{avg_svmPD_5}}, label: "Support Vector Machine" },
        { y: {{avg_dtPD_5}}, label: "Decision Tree" },
        { y: {{avg_lrPD_5}}, label: "Logistic Regression" },
        { y: {{avg_rfPD_5}}, label: "Random Forest" },
        { y: {{avg_nbPD_5}}, label: "Naive Bayes" },
      ]
    },

    {
      type: "column",
      showInLegend: true,
      name: "10-Folds",
      color: "#296d98",
      dataPoints: [
        { y: {{avg_svmPD_10}}, label: "Support Vector Machine" },
        { y: {{avg_dtPD_10}}, label: "Decision Tree" },
        { y: {{avg_lrPD_10}}, label: "Logistic Regression" },
        { y: {{avg_rfPD_10}}, label: "Random Forest" },
        { y: {{avg_nbPD_10}}, label: "Naive Bayes" },
      ]
    },

    {
      type: "column",
      showInLegend: true,
      name: "15-Folds",
      color: "#1c4966",
      dataPoints: [
        { y: {{avg_svmPD_15}}, label: "Support Vector Machine" },
        { y: {{avg_dtPD_15}}, label: "Decision Tree" },
        { y: {{avg_lrPD_15}}, label: "Logistic Regression" },
        { y: {{avg_rfPD_15}}, label: "Random Forest" },
        { y: {{avg_nbPD_15}}, label: "Naive Bayes" },
      ]
    },

    {
      type: "column",
      showInLegend: true,
      name: "20-Folds",
      color: "#0e2433",
      dataPoints: [
        { y: {{avg_svmPD_20}}, label: "Support Vector Machine" },
        { y: {{avg_dtPD_20}}, label: "Decision Tree" },
        { y: {{avg_lrPD_20}}, label: "Logistic Regression" },
        { y: {{avg_rfPD_20}}, label: "Random Forest" },
        { y: {{avg_nbPD_20}}, label: "Naive Bayes" },
      ]
    },
  ]
  });
  chart1.render();

  function toolTipFormatter(e) {
  	var str = "";
  	var total = 0 ;
  	var str3;
  	var str2 ;
  	for (var i = 0; i < e.entries.length; i++){
  		var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "% </strong><br/>" ;
  		total = e.entries[i].dataPoint.y + total;
  		str = str.concat(str1);
  	}
  	str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
  	str3 = "<span style = \"color:Tomato\">Average: </span><strong>" + Math.round(total/5) + "% </strong><br/>";
  	return (str2.concat(str)).concat(str3);
  }

  function toggleDataSeries(e) {
  	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
  		e.dataSeries.visible = false;
  	}
  	else {
  		e.dataSeries.visible = true;
  	}
  	chart.render();
  }

  }
  </script>

</html>
